/** Add css rules here for your application. */

html {
	overflow-y: scroll;
}

body {
	color: #000;
	background: #fff;
	font-family: Arial, sans-serif;
	font-size: 24px;
}

#content {
	margin-left:auto;
	margin-right:auto;
	width:800px;
	background-color: #F2ECD9;	
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #777777;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
	margin-top:	5px;
	margin-bottom:	5px;
	
}

.headerCont {
	background-color: #C41E3A;
	margin-bottom: 10px;
	padding: 3px;
	background-image: url(images/red_header_bg.jpg);
	background-repeat: repeat-x;
}

/** Example rules used by the template application 
	Leave them for me - Vadim
*/
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.gwt-TabBar .gwt-TabBarItem {
  background-color: #D9C892;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  background-color: #CAB368;
}

.gwt-TabPanelBottom {
  padding: 0px;	
  background-color: white;
  border-color: #CAB368;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.leaderBoardRow {
	width: 233px;
	cellspacing:0 ;
	cellpadding:0 ;
}
.leaderBoardRankingColumn{
 	font-style italic ;
 	text-align:left;
 	width: 33px;
}
.leaderBoardNameColumn{
 	font-weight bold ;
 	text-align: left;
 	width: 165px;
 	padding-right: 5px;
}
.leaderBoardValueColumn{
 	text-align:left;
 	width: 20px;
}

.dialogOKButton {
  float: right;
}

.likePanel {
	background-color: #ECEFF5;
	/*width:	100%;*/
	}
.newsFeedBox {
	width: 100%;
}
/* DEBUG */

#waitingList {
	font-size: 16px;
}